<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Book</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   
   		
      <div  th:align="center">
      	<h1>Create Book & Author Info:</h1>
      	
      	<br/>
	      <a th:href="@{/index}">Home</a><br>
	      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
	      <a th:href="@{/listBook}">Book Information List</a> <br>   
	      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
	      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>
      	<br><br/>
       
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->
         
         <form th:action="@{/createBookAuthor}"
         th:object="${bookauthorForm}" method="POST"><br>
         Book ID:
         <input type="text" th:field="*{bookid}" /> <br>  
         <br/>
         Book Name:
         <input type="text" th:field="*{bookname}" />  <br>  
         <br/>
         Author ID:
         <input type="text" th:field="*{authorid}" />  <br>   
         <br/>
          Author Name:
         <input type="text" th:field="*{authorname}" /> <br>    
         <br/>
         <input type="submit" value="Create" />
      	 </form>
      	</div>
      	
       <!--   
      <form th:action="@{/createBookAuthor}"
         th:object="${bookauthorForm}" method="POST">
         Book ID:
         <input type="text" th:field="*{bookauthorForm.book.bookid}" />    
         <br/>
         Book Name:
         <input type="text" th:field="*{bookauthorForm.book.bookname}" />    
         <br/>
         Author ID:
         <input type="text" th:field="*{bookauthorForm.author.authorid}" />     
         <br/>
          Author Name:
         <input type="text" th:field="*{bookauthorForm.author.authorname}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       -->
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>