<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   
   	<div  th:align="center">
   		<h1>Author Information List</h1>
   		
   		<br/>
	      <a th:href="@{/index}">Home</a><br>
	      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
	      <a th:href="@{/listBook}">Book Information List</a> <br>   
	      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
	      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>
      	<br><br/>

	  
	      <div>
	         <table border="1">
	            <tr>
	               <th>Author ID</th>
	               <th>Author Name</th>
	               <th>Action</th>
	            </tr>
	            <tr th:each ="author : ${authors}">
	               <td th:utext="${author.authorid}">...</td>
	               <td th:utext="${author.authorname}">...</td>
	               <td>		
               		<a th:href="@{'/author/edit/' + ${author.authorid}+'/'+ ${author.authorname}}">Edit</a>
               	<!--	<a th:href="@{'/author/delete/' + ${author.authorid}}">Del</a> -->
               		<!--   ignore me  -->
               </td>
	            </tr>
	         </table>

	      </div>
      
    </div>  
   </body>
    
</html>