<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Book</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   		
      <div  th:align="center">
      	<h1>Edit Book & Author Info:</h1>
       
         <br/>
		      <a th:href="@{/index}">Home</a><br>
		      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
		      <a th:href="@{/listBook}">Book Information List</a> <br>   
		      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
		      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>
      	 <br><br/>
         <form th:action="@{/author/save}"
         th:object="${author}" method="POST"><br>
         Book ID: <span th:text="${author.authorid}"></span>
         <input type="hidden" th:field="*{authorid}" th:value="${author.authorid}"/> <br>  
         <br/>
         Book Name:
         <input type="text" th:field="*{authorname}" th:value="${author.authorname}"/>  <br>  
         <br/>
        
         <input type="submit" value="Update" />
      	 </form>
      	 
      	</div>
      	
       <!--   
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>