<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   <div  th:align="center">
      <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
      <a th:href="@{/listBook}">Book Information List</a> <br>   
      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>

     </div>  
   </body>
    
</html>