<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Book Info</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	<div th:align="center">
      <h1>Book & Author Information List</h1>
      
      <br/>
      <a th:href="@{/index}">Home</a><br>
      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
      <a th:href="@{/listBook}">Book Information List</a> <br>   
      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>
      <br><br/>
      <div>
         <table border="1">
            <tr>
               <th>Book Name</th>
               <th>Author Name</th>
               <th>Action</th>
            </tr>
            <tr th:each ="bookauthor : ${bookauthors}">
               <td th:utext="${bookauthor.book.bookname}">...</td>
               <td th:utext="${bookauthor.author.authorname}">...</td>
               <td>		
               		<a th:href="@{'/editBookAuthor/' + ${bookauthor.book.bookid}+'/'+ ${bookauthor.book.bookname}+'/'+ ${bookauthor.author.authorid}+'/'+ ${bookauthor.author.authorname}}">Edit</a>
               		<a th:href="@{'/deleteBookAuthor/delete/' + ${bookauthor.book.bookid}}">Del</a>
               </td>
            </tr>
         </table>
      </div>
     </div>
   </body>
</html>
