<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Book Info</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	<div th:align="center">
      <h1>Book Information List</h1>

      <br/>
	      <a th:href="@{/index}">Home</a><br>
	      <a th:href="@{/createBookAuthor}">Create New Information</a><br>
	      <a th:href="@{/listBook}">Book Information List</a> <br>   
	      <a th:href="@{/listAuthor}">Author Information List</a>  <br>
	      <a th:href="@{/listBookAuthor}">Book & Author Information List</a>
      	<br><br/>
      <div>
         <table border="1">
            <tr>
               <th>Book ID</th>
               <th>Book Name</th>
               <th>Action</th>
            </tr>
            <tr th:each ="book : ${books}">
               <td th:utext="${book.bookid}">...</td>
               <td th:utext="${book.bookname}">...</td>
               <td>		
               		<a th:href="@{'/book/edit/' + ${book.bookid}+'/'+ ${book.bookname}}">Edit</a>
               		<!-- <a th:href="@{'/book/delete/' + ${book.bookid}}">Del</a>  -->
               </td>
            </tr>
         </table>
      </div>
     </div>
   </body>
</html>